.community-card {
  position: relative;
  width: 360px;
  height: auto;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: 'Pretendard', sans-serif;
  border-radius: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card-image-container {
  width: 100%;
  height: 300px;
  background-color: white;
  overflow: hidden;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  min-width: 75%;
  min-height: 80%;
  object-fit: cover;
  display: block;
}

.bookmark-icon {
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 24px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 2;
  cursor: pointer;
}

.card-text {
  flex: 1;
  padding: 12px 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.card-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.tag-label {
  background-color: #7B61FF;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 12px;
  border-radius: 6px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-subtitle-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  color: #333;
}

.card-subtitle {
  font-size: 14px;
  color: #333;
  flex: 1;
  margin-right: 8px;
}

.like-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: black;
  cursor: pointer;
  min-width: 32px;
}

.card-footer {
  background-color: #f9f9f9;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #999;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.profile-thumbnail {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
  flex-shrink: 0;
}

.user-name {
  font-size: 14px;
  color: #666;
  line-height: 1;
}
