.guideline-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.guideline-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  background-color: white;
}

.main-layout-wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.guideline-title-wrapper {
  text-align: center;
}

.guideline-title {
 font-size: 2.5rem;
 font-weight: bold;
 text-align: center;
 margin-bottom: 0.5rem;
 width: 100%;
}

.guideline-title-underline {
  height: 1px;
  background-color: #999;
  width: 400px;
  margin: 0 auto 2rem auto;
}

.guideline-box {
  border: 2px solid #7B61FF;
  border-radius: 10px;
  padding: 40px;
  position: relative;
  line-height: 1.6;
  font-size: 16px; 
  background-color: white;
  margin-top: 30px; 
}

.guideline-box h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.guideline-box ol {
  padding-left: 20px;
}

.guideline-box ul {
  margin-top: 6px;
  padding-left: 20px;
}

.guideline-dog-pic {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 300px;
}
